.imgs{
    width: 200px;
    height: 130px;
    float: left;
}
.bt{
    width: 200px;
    height: 28px;
    background: orange;
    float: left;
    position: relative;
    top: -55px;
    color: aliceblue;
    text-decoration: none;
}